@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #33D582;
    --secondary: #33D582;
    --primary-text: #14181b;
    --secondary-text: #57636c;
    --primary-bg: #FFFFFF;
    --secondary-bg: #F1F4F8;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --primary: #33D582;
      --secondary: #33D582;
      --primary-text: #ffffff;
      --secondary-text: #95a1ac;
      --primary-bg: #15181B;
      --secondary-bg: #1D2428;
    }
  }
  
  [data-theme='dark'] {
    --primary: #33D582;
    --secondary: #33D582;
    --primary-text: #ffffff;
    --secondary-text: #95a1ac;
    --primary-bg: #15181B;
    --secondary-bg: #1D2428;
  }
}
